<!doctype html>
<html>
<head>
  <title>About this awesome app!</title>
</head>
<body>
    <header>
        <h1> What is cool about the password Generator?</h1>
  </header>
  <section>
      <article>Who made this Page?</article>
      <p>This was made by me!</p>
      <br>
      <article>What does this page do?</article>
      <p>This web page generates a random password of your own requirements so you dont have
          to break a sweat trying to crack a password for your new accounts!</p>
  </section>
  <footer>
    <a href="{% url 'home' %}">Go back to Home</a>
    <br>
  </footer>
</body>
</html>